@media screen and (max-width: 576px) {
  .card {
    height: 150px;
    width: 90%;
    margin: 0 auto;
    font-size: small;
  }
  .reverse {
    display: flex;
    flex-direction: column-reverse;
  }
}
