.font-size {
  font-size: 15px;
  font-weight: 600;
}
@media screen and (max-width: 576px) {
  .nav {
    display: flex;
    flex-direction: column;
    width: 450px;
    align-items: center;
    gap: none;
  }
}
